@charset "utf-8";

/* ✼••┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈••✼
      common
✼••┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈••✼ */

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  background-color: rgba(211, 211, 211, 0.568);
  width: 100%;
  font-family: 'Lobster', sans-serif;
  font-family: 'Playfair Display', serif;
  vertical-align: bottom;
  color: #111;
}

header,
footer {
  background-color: rgba(133, 6, 188, 0.9);
}

img {
  object-fit: cover;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  margin-top: 1rem;
  color: #fbc916;;
}

.header-name p a:hover,
nav ul li:hover,
.menu-list p a:hover {
  opacity: 0.7;
}


/* ✼••┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈••✼
      header
✼••┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈••✼ */

.header-logo {
  display: flex;
}

.header-name {
  margin-left: 0.25rem;
  color: #fbc916;
}

.header-name p:nth-child(1) {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.header-name p:nth-child(2) {
  font-size: 0.4rem;
}

nav ul {
  display: flex;
  width: auto;
  margin-top: 0.5rem;
}

nav ul li {
  margin: 0 auto;
  font-weight: bold;
  color: #fbc916;
}


/* ✼••┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈••✼
      main
✼••┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈••✼ */

main div img {
  width: 100%;
  height: 16rem;
  position: relative;
}

.main-text {
  position: absolute;
  top: 17rem;
  left: 1rem;
  font-size: 0.8rem;
}

.container {
  width: 100%;
  margin: 2rem auto 0;
  padding: 0 0.5rem;
}

/* ••┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈••
      Menu
••┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈•• */

.menu {
  display: flex;
  margin-top: 0.6rem;
}

.menu img {
  border-radius: 5px;
  width: 40%;
  height: 8rem;
}

.menu-list {
  background-color: rgba(175, 29, 224, 0.7);
  border-radius: 5px;
  width: 50%;
  height: 8rem;
  text-align: center;
}

.menu-list p {
  font-size: 0.8rem;
  margin-top: 0.25rem;
  color: #fbc916;
}

.menu-list li {
  font-size: 0.6rem;
  font-weight: bold;
}

/* ••┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈••
      Esthetician
••┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈•• */

.esthetician {
  display: flex;
  margin-top: 0.25rem;
}

.esthetician p {
  font-size: 0.6rem;
  width: 50%;
}

.esthetician-img {
  /* width: 40%; */
}

.esthetician-img img {
  margin-left: 0.25rem;
  height: 9rem;
}

.esthetician-img p {
  margin: 0 auto;
  text-align: center;
  font-size: 1rem;
}

/* ••┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈••
      Salon
••┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈•• */
#salon {
  line-height: 1.6;
}

.adress {
  display: flex;
}

iframe {
  width: 95%;
}

.contact {
  display: flex;
}

.contact div p:nth-child(2) {
  font-size: 0.6rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}

.contact img {
  margin-left: 0.5rem;
  margin-top: 0.75rem;
  width: 8rem;
  height: 8rem;
}


/* ✼••┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈••✼
      footer
✼••┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈••✼ */

footer {
  color: #fbc916;
  margin-top: 1.5rem;
}

.copyright {
  font-size: 0.6rem;
  text-align: center;
  padding: 0.75rem 0;
}


/* ✼••┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈••✼
      body.html
✼••┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈••✼ */

section.container h2 {
  text-align: center;
  margin-bottom: 0.75rem;
  border-bottom: 2px solid rgba(133, 6, 188, 0.9);
}

.salon-menu dl {
  margin-top: 0.5rem;
}

.salon-menu dt {
  font-weight: bold;
  font-size: 0.9rem;
  color: #fbc916;
}

.salon-menu dd {
  font-size: 0.8rem;
}

.salon-menu dl dt span {
  font-size: 0.8rem;
  padding-left: 0.5rem;
}

.another-list {
  border-bottom: 1px solid rgba(133, 6, 188, 0.9);
  margin: 2rem 3rem 0;
}

/* ✼••┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈••✼
      femcare.html
✼••┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈••✼ */
.femcare-menu img {
  width: 80%;
}

.femcare-menu {
  text-align: center;
}


/* ✼••┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈••✼
      PC用 768px<= width
✼••┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈••✼ */
@media (min-width: 768px) {

  html {
    font-size: 20px;
  }

  body {
    width: auto;
    background-color: rgba(216, 112, 147, 0.182);
  }

  h2 {
    font-size: 1.9rem;
  }

  .header-name p:nth-child(1) {
    margin-top: 8px;
    font-size: 1.2rem;
  }

  nav ul li {
    font-size: 1rem;
  }

  main div img {
    height:20rem;
  }

  .main-text {
    font-size: 1rem;
  }

  .menu img,
  .menu-list {
    height: 240px;
  }

  .menu-list p {
    font-size: 1.5rem;
  }

  .menu-list li {
    font-size: 1.2rem;
  }

  .esthetician p {
    font-size: 1rem;
  }


}